.contenedorInicio {
  height: 100vh;
  width: 100vw;
  user-select: none;
  background-color: $white;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-rows: 6em 1fr 150px;
  
  &__logo {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
    grid-row: 2;
    padding: 0 3em;
  }

  &__callToAction {
    display: grid;
    place-content: center;
    grid-row: 3;
    height: 4em;
    width: 7em;
    font-size: $normalFont;
    line-height: 1.5em;
    font-weight: 600;
    margin-bottom: 6.5em;
    color: $lightGreen;
    border: 1px solid $lightGreen;
  }

  &__callToAction:hover {
    background-color: $lightGreen;
    color: $white;
  }

  &__imagenDerecha{
    display: none;
  }
}