.contenedorDirección {
  height: 600px;
  width: 100vw;
  user-select: none;
  background-color: $white;
  display: grid;
  place-content: center;
  grid-template-rows: repeat(2, 1fr);

  &__ubicacion, &__ubicacion2 {
    color: $skyblue;
    margin: 1em;
    grid-template-rows: repeat(2, 1fr);

    div:nth-of-type(5), div:nth-of-type(6), div:nth-of-type(7) {
      color: $black;
    }
  }

  &__tituloDireccion, &__tituloDias, &__tituloNumero {
    font-weight: 900;
  }

  &__contenedorIconos{
    height: 100px;
    display: grid;
    grid-column: 1/-1;
    place-content: center;
    column-gap: 0.5em;
    grid-template-columns: repeat(3, 50px);

    a {
      img {
        background-size: cover;
        background-position: center center;
        height: 40px;
        width: 40px;
      }
    }

    a:nth-of-type(1) img {
      height: 45px;
      width: 45px;
      margin-top: -4px;
    }
  }
}

@media (min-width: 600px) {
  .contenedorDirección {
    height: 350px;
    grid-template-columns: repeat(2, 300px);
  }
}