html {
  font-size: 16px;
  scrollbar-color: $skyblue $white;
  scrollbar-width: normal;
  scroll-behavior: smooth;
  font-family: sans-serif, serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  width: auto;
}

//color del fondo de scroll
::-webkit-scrollbar-track {
  background: $darkViolet;
  border-radius: 10px;
}

//colr de la barra de scroll
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 140px $lightViolet;
  border-radius: 14px;
}

body {
  color: $black;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 0.1vw;
  font-size: $normalFont;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  display: grid; 
}

.navBarMenu {
  height: 0vh;
  width: 0vw;
  top: 4em;
  left: -20em;
  position: fixed;
  background-color: $darkViolet;
  -webkit-animation: none;
          animation: none;
  z-index: 1001;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(4, 1fr);

  * {
    color: $white;
  }
}

.closeNavBarMenu {
  -webkit-animation: closingNavBarMenu 1s forwards;
          animation: closingNavBarMenu 1s forwards;
}

.svg {
  height: 40px;
  width: 40px;
  margin: 0 1em;
}

textarea {
  resize: none;
}

button {
  all: unset;
}

.navScrolled {
  color: $skyblue;
  border-bottom: 4px solid $skyblue;
}