header * {
  position: relative;
  color: $white;
  transition: $transitionDelay;
          user-select: none;
          font-size: $bigFont;
}

.header {
  height: 4em;
  width: 100vw;
  position: fixed;
  background-color: $lightGreen;
  top: 0;
  z-index: 100;
  display: grid;
  place-content: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
  grid-template-columns: repeat(2, auto);

  &__direccion, &__menu {
    display: none;
  }

  &__navBar {
    place-content: center;
    cursor: pointer;
    padding: 5px 10px;

    &__line {
      padding: 2px 15px;
      background: $white;
      margin: 0px 3px 2px -3px;
      border-radius: 1.5em;
    }

    &__line:nth-of-type(2) {
      padding: 2px 15px;
      background: $white;
      margin: 2px -3px 0px 3px;
      border-radius: 1.5em;
    }
  }
}